@import "tailwindcss";

:root {
  --background: rgba(15, 15, 15, 1);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

body,
html {
  overscroll-behavior-y: contain;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  touch-action: none;
  scroll-padding-top: 100px;
}

.otp-container {
  overscroll-behavior: contain;
  touch-action: none;
  -ms-touch-action: none;
}
